body {
    background-size: 100%;
    font-family: 'Montserrat', 'Verdana', sans-serif;
}

.nav-wrapper {
    background-color: #3498db;
}

.navbar-fixed {
    font-family: "Do Hyeon", 'Verdana', sans-serif;
}

.underline:hover {
    text-decoration: underline;
}

footer {
    background-color: #3498db;
}

.inner-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #3498db;
}

/* #about-me-container {
    background-color: #3498db;
    color: white;
} */

#portfolio-container {
    background-color: #3498db;
    color: white;
    padding-top: 5px;
}

#contact-heading {
    text-align: center;
    width: 100%;
}

#footer {
    background-color: #3498db;
    color: white;
    height: 40px;
    padding-top: 10px;
}

.description {
    color: black;
}

.center-header {
    text-align: center;
}

.projectimg {
    height: 250px;
}

#portrait {
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
}

#footer {
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    margin: 0;
}

.full-width-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    font-size: 16px;
}

h3 {
    text-align: center;
}

#contact-list li{
    margin: 1.25em 10px;
}

.contact-list-item {
    font-size: 16px;
    font-weight: bold;
}


